= form_for @question do |f|
  .div
    = f.label :lesson_id
    = f.hidden_field :lesson_id, value: @lesson.id

  .div
    = f.label :description, 'Question'
    = f.text_field :description

  .div
    = f.submit
