- if user_signed_in? && @enrollment.present?
  %h3= @question.question
- else
  = render 'enrollments/passcode'

- if @enrollment.present? && @enrollment.leader?
  %li= link_to 'Update Question', edit_question_path(@question, lesson_id: @lesson.id)
  %li= link_to 'Remove Question', question_path(@question, lesson_id: @lesson.id), method: :delete
- elsif @enrollment.present? && @enrollment.learner?
  = render 'answers/form'
