= form_for [@question, @answer] do |f|
  .div.hide
    = f.label :enrollment_id
    = f.number_field :enrollment_id, value: @enrollment.id

  .div.hide
    = f.label :question_id
    = f.number_field :question_id, value: @question.id

  .div
    = f.label :answer, "Answer", class: "hide"
    = f.text_area :answer, class: "tinymce", rows: 40, cols: 120

  .row
    .col.s12.center
      .div.a.btn.waves-effect.waves-light.teal
        = f.submit
