.container
  .row
    .col.s12.center
      - if user_signed_in? && !@enrollment.nil? && @enrollment.leader?
        %h1= @question.question
        %ul
          - @answers.each do |answer|
            %li.card-panel.hoverable
              = answer.answer.html_safe
              = "Submitted by #{answer.enrollment.user.first_name} #{answer.enrollment.user.last_name}"
      - else
        %ul
          %h3 I think you are a bit lost, buddy. You need to be the leader to view this page. Time to go back to where you belong.
      .row
        = render 'questions/lesson_overview'
