.div
  %h1.center= @course.title
  %h5.center Led by #{@leader.first_name} #{@leader.last_name}
.section
  .container
    %table.responsive-table.card-panel.hoverable.highlight.centered
      %thead
        %tr
          %th{ "data-field" => "id" } Name
          %th{ "data-field" => "questions" } Submissions
          %th{ "data-field" => "email" } Email
          - if @enrollments.present? && current_user == @leader
            %th{ "data-field" => "last_sign_in" } Last Signed In
            %th{ "data-field" => "remove" } Edit
            %th{ "data-field" => "message" } Text Message
      %tbody
        - if @enrollments.present? && current_user == @leader
          - @enrollments.each do |student|
            - if student.learner?
              %tr{ class: "enrollment-#{student.id}" }
                .h5
                  %td= link_to "#{student.user.first_name} #{student.user.last_name}", '#'
                %td= link_to "#{student.answers.size} / #{@q_count}" , enrollment_path(student, course_id: @course.id)
                %td= student.user.email
                %td= student.user.last_sign_in_at.localtime.strftime("%-I:%M %p %Z %-m/%-d/%-Y") unless student.user.last_sign_in_at.nil?
                %td
                  %a.btn-floating.waves-effect.waves-light.red.delete-enrollment{ href: enrollment_path(student, course_id: student.course), "data-method" => "delete" }
                    %i.material-icons.delete-enrollment remove
                %td
                  - if student.user.area_code == 510
                    / Modal Trigger
                    %a.modal-trigger{:href => "#modal#{student.id}"}
                      %i.material-icons.medium.blue-text.text-lighten-1 chat
                    / Modal Structure
                    .modal{ id: "modal#{student.id}"}
                      .modal-content
                        = form_for @text do |f|
                          .div.input-field.hide
                            = f.label :enrollment_id
                            = f.number_field :enrollment_id, value: student.id
                          .div.input-field
                            = f.label :text
                            = f.text_field :text
                          %a.btn.waves-effect.waves-light.blue
                            = f.submit("Send")
                  - else
                    %i.material-icons.medium.grey-text.text-lighten-1 chat

        - elsif @enrollments.present? && @enrollments.find_by(user: current_user).learner?
          - @enrollments.each do |student|
            - unless student.user == current_user || student.user == @leader
              %tr
                %td #{student.user.first_name} #{student.user.last_name}
                %td= student.user.email
.section
  .container
    .row
      .col.s12.center-align
        = render 'lessons/course_overview'
