= form_for [@course, @lesson] do |f|
  .div
    = f.label :lesson_no
    = f.number_field :lesson_no, value: @lesson_no

  .div
    = f.label :title
    = f.text_field :title

  .div
    = f.label :content
    = f.text_area :content, id: 'froala-editor'

  .div
    = f.submit
