.container
  %ul.collapsible{ "data-collapsible" => "accordion" }
    %li
      .collapsible-header
        %h3.center #{@lesson.lesson_no}. #{@lesson.title}
        = @lesson.content.html_safe
      - if @enrollment.leader?
        .collapsible-body
          .row
            .col.s12.center
              %%br
              %a.btn.waves-effect.waves-light.blue-grey.darken-3#edit-lesson{ href: edit_course_lesson_path(@course, @lesson) }
                %i.material-icons mode_edit
              %a.btn.waves-effect.waves-light.red#delete-lesson{ href: course_lesson_path(@course, @lesson), "data-method" => "delete" }
                %i.material-icons remove
    .section
      .container
        .row.center
          .col.s12
            %h5 Questions
            %ul.collapsible{ "data-collapsible" => "accordion" }
              - @questions.each do |question|
                %li.card-panel.hoverable{ class: "question-#{question.id}" }
                  - if @enrollment.leader?
                    .collapsible-header
                      %h5= link_to question.question, question_answers_path(question)
                    .collapsible-body
                      %a.btn.waves-effect.waves-light.blue-grey.darken-3.edit-question{ href: edit_question_path(question, lesson_id: @lesson.id) }
                        %i.material-icons edit
                      %a.btn.waves-effect.waves-light.red.delete-question{ href: question_path(question, lesson_id: @lesson.id), "data-method" => "delete" }
                        %i.material-icons.delete-question remove
                  - elsif @enrollment.learner?
                    .collapsible-header
                      - user_answer = question.answers.find_by(enrollment: @enrollment)
                      - if user_answer.present? && user_answer.enrollment.user == current_user
                        = link_to question.question, new_question_answer_path(question)
                        %i.material-icons.teal-text check_box
                      - else
                        = link_to question.question, new_question_answer_path(question)
                        %i.material-icons.teal-text check_box_outline_blank
            - if @enrollment.leader?
              %a.btn-large.col.s12.waves-effect.waves-light.teal.add-question{ href: new_question_path(lesson_id: @lesson.id) }
                %i.material-icons.teal add
    .section
      .container
        .row.center
          = render 'course_overview'
