.container
  .row
    .col.s12.center
      %h1= @lesson.title
      %fr-view= @lesson.content.html_safe

      - if user_signed_in? && !@enrollment.nil? && @enrollment.leader?
        %col.s4= link_to 'Delete Lesson', course_lesson_path(@course, @lesson), method: :delete
        %col.s4= link_to 'Update Lesson', edit_course_lesson_path(@course, @lesson)
        %col.s4= link_to 'Create Question', new_question_path(lesson_id: @lesson.id)

    .container
      .row.center
        .col.s12
        %h5 Assignments
        - @questions.each do |question|
          %ul
            %li= link_to question.question ,questions_path(lesson_id: @lesson.id)

    .container
      = render 'course_overview'
