.container
  .row
    .col.s12
      %h1.center= @lesson.title
      = @lesson.content.html_safe

      - if @enrollment.leader?
        .row.center
          %a.btn-floating.waves-effect.waves-light.teal#delete-lesson{ href: course_lesson_path(@course, @lesson), "data-method" => "delete" }
            %i.material-icons remove
          %a.btn-floating.waves-effect.waves-light.teal#edit-lesson{ href: edit_course_lesson_path(@course, @lesson) }
            %i.material-icons mode_edit

    .section
      .container
        .row.center
          .col.s12
            %h5 Questions
            - @questions.each do |question|
              %ul.card-panel.hoverable
                .row.valign-wrapper
                  - if @enrollment.leader?
                    .col.s10.valign
                      %li= link_to question.question, question_answers_path(question)
                    .col.s1.valign
                      %a.btn-floating.waves-effect.waves-light.teal.delete-question{ href: question_path(question, lesson_id: @lesson.id), "data-method" => "delete"}
                        %i.material-icons remove
                    .col.s1.valign
                      %a.btn-floating.waves-effect.waves-light.teal.edit-question{ href: edit_question_path(question, lesson_id: @lesson.id) }
                        %i.material-icons edit
                  - elsif @enrollment.learner?
                    .col.s12.valign
                      %li= link_to question.question, new_question_answer_path(question)
            - if @enrollment.leader?
              %a.btn-large.col.s12.waves-effect.waves-light.teal#add-question{ href: new_question_path(lesson_id: @lesson.id) }
                %i.material-icons add


    .section
      .container
        .row.center
          = render 'course_overview'
