= form_for @course do |f|
  .div
    = f.label :title, "Title"
    = f.text_field :title
  .div
    = f.label :description, "Description"
    = f.text_field :description

  .div
    = f.label :passcode, "Passcode"
    = f.text_field :passcode

  .waves-effect.secondary-contetn.btn-large
    = f.submit
