.all-lessons
  - @lessons.each do |lesson|
    %ul.lesson
      - if !@enrollment.nil? && @enrollment.leader?
        .row{ class: "lesson-#{lesson.id} num-#{lesson.lesson_no}" }
          .col.s12.center
            %a.arrow.up{ href: course_lesson_path(@course, lesson, direction: "up"), "data-method" => "patch" }
              %i.material-icons.arrow.arrow-up expand_less
            %h5.card-panel.hoverable= link_to "#{lesson.lesson_no}. #{lesson.title}", course_lesson_path(@course, lesson)
            %a.arrow.down{ href: course_lesson_path(@course, lesson, direction: "down"), "data-method" => "patch" }
              %i.material-icons.arrow.arrow-down expand_more
      - elsif user_signed_in? && !@enrollment.nil? && @enrollment.learner?
        .row
          .col.s12.center
            %li.card-panel.hoverable= link_to "Lesson #{lesson.lesson_no}: #{lesson.title}", course_lesson_path(@course, lesson)
      - else
        .row
          .col.s12.center
            %li Lesson #{lesson.lesson_no}: #{lesson.title}
