%h2 Courses Offered

- if !user_signed_in?
  .row
    = link_to "Join Mycademy", new_user_registration_path
- else
  .row
    %li= link_to "Lead", '#'
    %li= link_to "Learn", '#'

%ul
  - @courses.each do |course|
    %li
      = course.title
      = course.description
