.container
  %ul.collapsible{ "data-collapsible" => "accordion" }
    %li
      .collapsible-header.center
        %h1= @course.title
        %h3= @course.description
      - if user_signed_in? && !@enrollment.nil? && @enrollment.leader?
        .collapsible-body
          .row
            .col.s12.center
              %%br
              %a.btn.waves-effect.waves-light.blue-grey.darken-3#edit-course{ href: edit_course_path(@course) }
                %i.material-icons mode_edit
              %a.btn.waves-effect.waves-light.red#delete-course{ href: course_path(@course), "data-method" => "delete" }
                %i.material-icons delete
  .section
    .row
      .col.s12.center
        - if user_signed_in? && @enrollment.nil?
          %a.btn-large.waves-effect.waves-light.teal{ href: new_enrollment_path(course_id: @course.id) }
            %i.material-icons.left person add
            Join Course
        - elsif current_user.nil?
          = render 'join_mycademy'
        - elsif @enrollment.leader?
          %a.btn-large.waves-effect.waves-light.teal#enrollment{ href: enrollments_path(course_id: @course.id) }
            %i.material-icons.left list
            Enrollment
        - else
          %a.btn-large.waves-effect.waves-light.teal{ href: enrollment_path(@enrollment, course_id: @course.id) }
            %i.material-icons.left trending_up
            Progress
          %a.btn-large.waves-effect.waves-light.teal#enrollment{ href: enrollments_path(course_id: @course.id) }
            %i.material-icons.left list
            Enrollment

  - @lessons.each do |lesson|
    %ul.lesson
      - if user_signed_in? && !@enrollment.nil? && @enrollment.leader?
        .row{class: "lesson-#{lesson.id} num-#{lesson.lesson_no}"}
          .col.s12.center
            %a.up{ href: course_lesson_path(@course, lesson, direction: "up"), "data-method" => "patch", class: "up" }
              %i.material-icons.arrow.arrow-up expand_less
            %h5.card-panel.hoverable= link_to "#{lesson.title}", course_lesson_path(@course, lesson)
            %a.down{ href: course_lesson_path(@course, lesson, direction: "down"), "data-method" => "patch", class: "down" }
              %i.material-icons.arrow.arrow-down expand_more
      - elsif user_signed_in? && !@enrollment.nil? && @enrollment.learner?
        .row
          .col.s12.center
            %li.card-panel.hoverable= link_to "Lesson #{lesson.lesson_no}: #{lesson.title}", course_lesson_path(@course, lesson)
      - else
        .row
          .col.s12.center
            %li Lesson #{lesson.lesson_no}: #{lesson.title}
  - if user_signed_in? && !@enrollment.nil? && @enrollment.leader?
    .row
      %a.btn-large.col.s12.waves-effect.waves-light.teal#add-lesson{ href: new_course_lesson_path(@course) }
        %i.material-icons add
