.container
  %ul.collapsible{ "data-collapsible" => "accordion" }
    %li
      .collapsible-header.center{ class: "course-#{@course.id}"}
        %h1= @course.title
        %h5= @course.description
      - if user_signed_in? && !@enrollment.nil? && @enrollment.leader?
        .collapsible-body
          .row
            .col.s12.center
              %%br
              %a.btn.waves-effect.waves-light.blue-grey.darken-3#edit-course{ href: edit_course_path(@course) }
                %i.material-icons mode_edit
              %a.btn.waves-effect.waves-light.red#delete-course{ href: course_path(@course), "data-method" => "delete" }
                %i.material-icons delete
  .section
    .row
      .col.s12.center
        - if user_signed_in? && @enrollment.nil?
          %a.btn-large.waves-effect.waves-light.teal{ href: new_enrollment_path(course_id: @course.id) }
            %i.material-icons.left person add
            Join Course
        - elsif current_user.nil?
          = render 'join_mycademy'
        - elsif @enrollment.leader?
          %a.btn-large.waves-effect.waves-light.teal#enrollment{ href: enrollments_path(course_id: @course.id) }
            %i.material-icons.left list
            Enrollment
        - else
          %a.btn-large.waves-effect.waves-light.teal{ href: enrollment_path(@enrollment, course_id: @course.id) }
            %i.material-icons.left trending_up
            Progress
          %a.btn-large.waves-effect.waves-light.teal#enrollment{ href: enrollments_path(course_id: @course.id) }
            %i.material-icons.left list
            Enrollment
  = render 'courses/lessons'
  - if user_signed_in? && !@enrollment.nil? && @enrollment.leader?
    .row
      %a.btn-large.col.s12.waves-effect.waves-light.teal#add-lesson{ href: new_course_lesson_path(@course) }
        %i.material-icons add
