%h1= @course.title
%h3= @course.description

- if user_signed_in? && @enrollment.nil?
  %div= link_to 'Join Course'
- elsif current_user.nil?
  %div= link_to 'Join Mycademy', new_user_registration_path
- elsif @enrollment.leader?
  %div= link_to 'Delete Course', course_path(@course), method: :delete
  %div= link_to 'Update Course', edit_course_path(@course)
  %div= link_to 'Create Lessons', new_course_lesson_path(@course)
- else
  %div= link_to 'View My Progress'

- @lessons.each do |lesson|
  %ul
  - if user_signed_in? && !@enrollment.nil? && ( @enrollment.learner? || @enrollment.leader? )
    %li= link_to lesson.title, course_lesson_path(@course, lesson)
  - else
    %li= lesson.title
