!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8",
    "http-equiv" => "Content-Type" }/
    %title Mycademy
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %nav
      .nav-wrapper
        %a.brand-logo{ href: '#' } Mycademy
        %ul.right.hide-on-med-and-down{ id: 'nav-mobile' }
          %li
            - if user_signed_in?
              %a{ href: destroy_user_session_path, method: :delete } Sign Out
            - else
              %a{ href: new_user_registration_path } Sign Up
              %a{ href: new_user_session_path } Sign In


    #flash
      - flash.each do |key, value|
        .alert-box#flash-message
          - if value.class ==Array
            - value.each do |val|
              = val
              %%br
          - else
            = value


    = yield
